<!DOCTYPE html>
<html>
<head>
    <title>Create Lecture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/lecture.css' />
</head>
<body>
<form action="/admin/new-word" method="post" class="login-box" autocomplete="on">
    <div class="title">
        <h1>ADD NEW FORBIDDEN WORD</h1>
    </div>
    <div class="input-box">
        <input type="text" name="word" required class="input" id="word">
        <label for="word">Word</label>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>