<!DOCTYPE html>
<html>
<head>
    <title>Join the lecture</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/access.css' />
</head>
<body>
<form action="/access/access-lecture" method="post" class="login-box" autocomplete="on">
    <div class="title">
        <h1>ACCESS THE LECTURE</h1>
    </div>
    <div class="input-box">
        <input type="text" name="code" required class="input pass-input" id="code">
        <label for="code">Enter a code</label>
    </div>
    <button type="submit">Access the lecture</button>
</form>
</body>
