<!DOCTYPE html>
<html>
<head>
    <title>Send Code</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<form action="/teacher/share-via-email" method="post" class="login-box" autocomplete="on">
    <div class="title">
        <h1>Code</h1>
    </div>
    <div class="input-box">
        <input type="text" name="code" required class="input" id="code">
        <label for="code">Enter code</label>
    </div>
    <div class="input-box">
        <input type="text" name="email" required class="input" id="email">
        <label for="email">Enter email</label>
    </div>
    <input type="submit" value="Share code"
        class="btn btn-primary"/>
</form>
<script>
    function sendCode() {
        const emails = $('#emails').val();
        emails.split(' ');
        //$.ajax
    }
</script>
</body>
</html>